        h1 {
            font-size: 60px;
            background-color: rgb(120,30,60);
            color: #fafffa;
            text-align: center;
            font-family: "open-sans", sans-serif;
        }

        h2 {
            font-size: 40px;
            font-family: "open-sans", sans-serif;
        }